*{
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;

}

.cabecalho{
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #836FFF;
}












.cartao-interno{

position: relative;

}

.cartao-frentr, .cartao-verso{

    position: absolute;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0 0.15);
    backface-visibility: hidden;

}

.cartao-verso{

transform: rotatey(180deg);
}